{% set content = "" %}
{% set unseen = 0 %}
{% for k,notification in app.user.notifications|reverse %}

    {% set content %}
        {{ content }}
        <li class="cursor-pointer" {{ stimulus_action('click->bell','seen') }}
            data-noti-id="{{ notification.id }}"
        >
            <div class="block">
                <div class="block rounded-lg p-2 bg-white w-[350px] hover:bg-gray-100">
                    <h5 class="text-gray-900 text-xl leading-tight font-medium">
                        {% if app.user not in notification.seen %}
                            {% set unseen = unseen + 1 %}
                            <div class="noti-badge rounded-full w-2 h-2 bg-red-600 mt-2 mr-1 float-left"></div>
                        {% endif %}
                        {{ notification.name }}
                    </h5>
                    <p class="text-gray-700 text-base ">
                        {{ notification.content }}
                    </p>
                </div>
            </div>

        </li>
        <hr class="h-0 border border-solid border-t-0 border-gray-700 opacity-25">
    {% endset %}
{% endfor %}
<div class="dropdown relative"
        {{ stimulus_controller('dropdown') }}
     data-close="outside"
>
    <a class="
          text-gray-500
          hover:text-gray-700
          focus:text-gray-700
          mr-8
          dropdown-toggle
          hidden-arrow
          flex items-center
        " href="#" id="dropdownMenuButton1" role="button"
            {{ stimulus_action('dropdown','click') }}
{#            data-close="outside"#}
{#       data-bs-toggle="dropdown" #}
{#       aria-expanded="false"#}
{#       data-bs-auto-close="outside"#}
    >
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
             class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
                  d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z">
            </path>
        </svg>
        <span id="noti-badge-unseen" class=" text-white bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-2 py-0 px-1.5">{{ unseen }}</span>
    </a>
    <ul class="
      dropdown-menu
      min-w-max
      absolute
      hidden
      bg-white
      text-base
      z-50
      float-left

      list-none
      text-left
      rounded-lg
      shadow-lg

      hidden
      m-0
      bg-clip-padding
      border-none
      left-auto
      right-0
      max-h-48
      overflow-auto
    " aria-labelledby="dropdownMenuButton1"
            {{ stimulus_controller('bell') }}
            data-url="{{ path('app_notification_seen') }}"
    >
        {{ content }}
{#        {% for k,notification in app.user.notifications %}#}
{#        <li>#}
{#            <div class="block">#}
{#                <div class="block rounded-lg p-2 bg-white w-[350px] hover:bg-gray-100">#}
{#                    <h5 class="text-gray-900 text-xl leading-tight font-medium">#}
{#                        {% if app.user not in notification.seen %}#}
{#                        <div class="rounded-full w-2 h-2 bg-red-600 mt-2 mr-1 float-left"></div>#}
{#                        {% endif %}#}
{#                        {{ notification.name }}#}
{#                    </h5>#}
{#                    <p class="text-gray-700 text-base ">#}
{#                        {{ notification.content }}#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}

{#        </li>#}
{#        <hr class="h-0 border border-solid border-t-0 border-gray-700 opacity-25">#}
{#        {% endfor %}#}
    </ul>
</div>