{% extends 'theme/base.back.html.twig' %}

{% block title %}{{ entity_name|capitalize }} Index{% endblock %}

{% set entity_name = _self|extractEntityNameByPath %}

{% block body %}
    <section {{ stimulus_controller('modal') }}>
        <div class="text-gray-800 px-4 md:px-12 mx-auto">
            <div class="flex flex-col rounded-lg shadow-lg py-10 mt-16 md:py-12 px-4 md:px-6">
                <div class="overflow-x-auto w-full mx-auto">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-x-auto">

                            <h2 class="text-3xl font-semibold leading-normal mt-0 mb-5 text-gray-800">
                                {{ entity_name|capitalize }} Index
                            </h2>

                            <a href="{{ path('app_'~entity_name~'_new') }}" class="inline-block mb-4 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                Create  {{ entity_name|capitalize }}
                            </a>

                            {{ filters(form) }}

                            <table class="min-w-full">
                                <thead class="border-b bg-gray-50">
                                <tr>
                                    <th scope="col" class="whitespace-nowrap text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Id
                                    </th>
                                    <th scope="col" class="whitespace-nowrap text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Column1
                                    </th>
                                    <th scope="col" class="whitespace-nowrap text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Column2
                                    </th>
                                    <th scope="col" class="whitespace-nowrap text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        User
                                    </th>
                                    <th scope="col" class="whitespace-nowrap text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity_item in entities.items %}
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                            {{ entity_item.id }}
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            {{ entity_item.column1 }}
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            {{ entity_item.column2 }}
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            {{ entity_item.user.userIdentifier }}
                                        </td>
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                            <a href="{{ path('app_'~entity_name~'_edit', {'id': entity_item.id}) }}" class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-500 text-white rounded">Edit</a>
                                            {{ include(entity_name~'/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <td colspan="6" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {{ pagination(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('theme/components/_modal.delete.html.twig') }}
    </section>
{% endblock %}